<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trifecta.mada.trifecta13">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".other.CustomApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".activity.Login"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity
            android:name=".activity.SplashScreen"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.SignUp"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.AboutUs"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.MyStore"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.CreateStore"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.MyProducts"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.AddProduct"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.ProductDetails"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.Cart"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.ShippingAndPayment"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.ShippingCash"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.Reviews"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.Search"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.SearchResults"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.StoreDetails"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.StorePreview"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.Contact"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.MessageDetails"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.EditProfile"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.SellerAllProduct"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.ContactUs"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service android:name=".other.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.MyProducts2"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_my_products2"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.EditStore"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD5PS-fP5_5SsOlwGdfzbJAjZt6uvW1Jts" />

        <activity
            android:name=".activity.SellerTermsConditions"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>